# Configurações do Banco de Dados
# Quando rodar via Docker, o host deve ser 'db'. Localmente, use 'localhost'.
DATABASE_URL=mysql+pymysql://root:suasenha@db:3306/sgc

# Segurança
JWT_SECRET=sua_chave_secreta_super_segura_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30